body {
  font-family: "Segoe UI", sans-serif;
  background-color: #D9D9D9;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.order-title {
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
  font-size: 54px; /* 원하는 크기로 설정 */
}


.order-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* ✅ 열 비율 고정 */
}

.order-table th,
.order-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #A6A6A6;
  text-align: center;
  font-size: 20px;
}

.order-table th {
  background-color: #A6A6A6;
  color: #0D0D0D;
  font-size: 20px;
}

.order-row:hover {
  background-color: #f1f3f5;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.status-ing {
  background-color: #A6A6A6;
  color: white;
  font-size: 20px;
}

.status-end {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #0D0D0D;
  color: #D9D9D9;
  font-size: 16px;
  height: 50px;
  line-height: 1;
}

.done-btn {
  background-color: #0D0D0D;
  color: #D9D9D9;
  border: none;
  padding: 0 20px; /* padding-top, bottom 제거! */
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  height: 50px; /* span이랑 높이 맞추기 */

  display: flex;
  align-items: center;
  justify-content: center;
}

.done-btn:hover {
  background-color: #218838;
}

.date-selector {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
}
.date-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 12px;
  font-size: 16px;
}

.date-form input[type="date"] {
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.date-form button {
  padding: 6px 14px;
  background-color: #A6A6A6;
  border: none;
  color: #0D0D0D;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.date-form button:hover {
  background-color: #0056b3;
}

.icon-item {
  width: 200px;
  height: 120px;
  background-color: #A6A6A6;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.icon-item:hover {
  background-color: #e0e0e0;
}

.icon {
  font-size: 56px;
  margin-bottom: 8px;
}

.icon-text {
  font-size: 26px;
  font-weight: bold;
  color: #0D0D0D;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: center; /* 가운데 정렬, 필요 시 space-between 등으로 조정 가능 */
  gap: 20px;
  margin-bottom: 20px;
}